#reset_password_details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #D4D7E3;
    width: 601px;
    height: 100vh;
    font-family: 'Inter',sans-serif;
}
#reset_image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #242531;
}
.new_password_div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.reset_label{
    text-align: left;
    font-weight: 500;
}
.reset_input{
    padding: 8px;
    border: 1px solid white;
    border-radius: 10px;
}
#reset_form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 60%;
}
@media(max-width:600px){
    #reset_image{
        display: none !important;
    }
}