#settingcontainer{
    display: flex;
    width: 100vw;
    font-family: "Inter",sans-serif;
}

#settingupperdiv{
    padding: 3px 15px;
    border-bottom: 2px solid white;
}
#settingrightpart{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    background-color: #424457;
    gap: 5px;
    margin-left: 220px;
}
